[submodule "MLX42"]
	path = MLX42
	url = https://github.com/codam-coding-college/MLX42
[submodule "libft_wip"]
	path = libft_wip
	url = https://github.com/kcouchy/libft_wip
[submodule "libft"]
	path = libft
	url = https://github.com/kcouchy/libft_wip
